.command_main_container {
    display: flex;
    justify-content: center;
    width: 75vw;
}

.command_title {
    font-size: 1.5rem;
    padding-bottom: 40px;
    font-weight: 500;
    color: #588535;
}

.command_pending_container {
    width: 100%;
    background-color: rgba(88, 133, 53, 0.1);
    padding: 40px;
    margin-right: 40px;
    border-radius: 12px;
}

.command_finished_container {
    width: 100%;
    background-color: rgba(88, 133, 53, 0.1);
    padding: 40px;
    border-radius: 12px;
}

.command_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    background-color: #dfe8d7;
    padding: 20px 40px;
}

.command_image {
    width: 125px;
    height: 125px;
}