.hide {
    display: none !important;
}

.main_content {
    margin-left: 22vw;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.product_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    position: fixed;
    width: 100vw;
    height: 100vh;

    transition: opacity 0.25s, backdrop-filter 0.25s;
}

.product_modal.closed {
    opacity: 0;
    backdrop-filter: blur(0px);
    pointer-events: none;
}

.delete_product_modal_content_container,
.modify_product_modal_content_container {
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    max-width: 25vw;
    border-radius: 12px;
    box-shadow: 0px 0px 25px #00000044;
}

.modal_description {
    margin-bottom: 30px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    width: 90%;
}

.modal_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modify_product_modal_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.modify_product_modal_container p {
    margin-bottom: 10px;
}

.modify_product_modal_container input {
    margin-bottom: 20px;
}

.modal_button_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.close_modal_btn,
.delete_product_btn,
.modify_product_btn {
    padding: 15px;
    border-radius: 12px;
}

.delete_product_btn,
.modify_product_btn {
    background-color: red;
    font-weight: bold;
    color: #fff;

    transition: transform 0.2s;
}

.modify_product_btn {
    background-color: #588535;
}

.delete_product_btn:hover,
.modify_product_btn:hover {
    transform: scale(1.05);
}
