.authentication_modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.25s, backdrop-filter 0.25s;
}

.authentication_modal_container.closed {
    opacity: 0;
    backdrop-filter: blur(0px);
    pointer-events: none;
}

.authentication_modal_content_container {
    position: relative;
    border-radius: 12px;
    box-shadow: 3px 3px 10px #00000011;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

/* ----- Design Section ----- */

.modal_design_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #609349;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    min-width: 50%;
    padding: 8em 2em 8em 2em;
    min-height: 250%;
}

.modal_design_info_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 25px;
}

.design_image {
    width: 95%;
}

.modal_design_title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #f8faf7;
}

.modal_design_description {
    font-size: 1.1rem;
    color: #bbd6af;
}

.form_category_buttons_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form_category_design_bar {
    align-self: flex-start;
    margin-left: 0;
    width: 50%;
    height: 4px;
    background-color: #609349;
    transition: 0.4s;
}

.form_category_design_bar.selected {
    margin-left: 50%;
}

.authentication_login_button,
.authentication_register_button {
    width: 50%;
    height: 50px;
    background-color: #ffffff00;
    font-size: 1.1rem;
    font-weight: 500;
}

/* ----- End Design Section ----- */

.authentication_form_container {
    position: relative;
    overflow: hidden;
    width: 50%;
    margin: 4em 3em 2em 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.authentication_form_fields_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transition: transform 0.4s;
}

.authentication_form_fields_container.switched {
    transform: translateX(calc(-100% - 3em));
}

.close_button {
    top: 0;
    right: 0;
    margin: 25px 25px 0px 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    color: #609349;
    transition: color 0.2s;
}

.close_button:hover {
    color: red;
}

.form_login_field_container {
    margin-top: 7em;
    width: 100%;
    min-height: 450px;
}

.form_register_field_container {
    margin-top: 2.5em;
    width: 100%;
    margin-left: calc(100% + 3em);
    position: absolute;
}

.login_form_container {
    display: flex;
    flex-direction: column;
}

.login_form_container > * {
    margin-bottom: 15px;
}

.email_input,
.password_input,
.firstname_input,
.lastname_input,
.confirmpassword_input {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border-bottom: 1px solid #609349;
}

.authentication_form_fields_container input:focus {
    border-bottom: 2px solid #609349;
}

.fistlastname_container {
    display: flex;
    justify-content: space-between;
}

.fistlastname_container > * {
    width: 45%;
}

.firstname_title,
.lastname_title,
.password_title,
.email_title {
    font-weight: 400;
    width: 100%;
    margin: 10px 0px 5px 0px;
}

.submit_button {
    margin-top: 15px;
    align-self: center;
    padding: 1.2em 8em;
    background-color: #609349;
    color: #fff;
    border-radius: 12px;
    transition: transform 0.2s;
}

.submit_button:hover {
    transform: scale(1.025);
}

.checkbox_container_container {
    display: flex;
}

.login_rememberme_checkbox {
    margin-right: 10px;
    pointer-events: none;
}

.checkbox_container {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox_container > span {
    color: #34495e;
    padding: 0.5rem 0.25rem;
}

.checkbox_container > input {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495e44;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #fff;
    cursor: pointer;
}

.checkbox_container > input:checked {
    background-color: #609349;
}

.checkbox_container > input:active,
.checkbox_container > input:focus {
    border: 1px solid #34495e44;
}

.rememberme_title {
    font-size: 0.95rem;
}

.forgot_password_btn {
    font-size: 0.9rem;
    font-weight: 500;
    color: #609349;
    cursor: pointer;
    transition: transform 0.2s;
}

.forgot_password_btn:hover {
    transform: scale(1.025);
}

.form_helpers_container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.error_message {
    color: red;
    font-size: 1.1rem;
    font-weight: normal;
}

/* ----- Re Captcha ----- */

.captcha_btn_container {
    width: 100%;
    height: 65px;
    background-color: #f9f9f9;
    border: 2px solid #b3b3b377;
    border-radius: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
}

.captcha_checkbox_title_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.captcha_checkbox_container {
    min-width: 30px;
    position: relative;
    margin-right: 10px;
}

.captcha_checkbox {
    width: 25px;
    height: 25px;
    border: 2px solid #b3b3b3;
    background-color: #fff;
    border-radius: 4px;
    transition: opacity 0.2s;
}

.captcha_checkbox.hide {
    opacity: 0;
}

.captcha_check_icon {
    top: -10%;
    left: 0;
    position: absolute;
    font-size: 1.9rem;
    color: #609349;
    transition: opacity 0.2s;
}

.captcha_check_icon.hide {
    opacity: 0;
}

.captcha_title {
    font-weight: 500;
    font-size: 0.9rem;
}

.recaptcha_logo_description_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recaptcha_logo {
    width: 45px;
    height: 45px;
    margin-bottom: 4px;
}

.recaptcha_description {
    font-size: 0.5rem;
    color: #b3b3b3;
}

.captcha_puzzle_container_modal {
    top: 0;
    left: 0;
    margin-top: 33%;
    margin-left: calc(50% - (400px / 2));
    position: absolute;
    min-width: 400px;

    background-color: #fff;
    box-shadow: 2px 2px 10px #00000033;
    border: 2px solid #b3b3b3;
    border-radius: 12px;
    padding: 20px 10px 20px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transition: opacity 0.2s;
}

.captcha_puzzle_container_modal.hide {
    opacity: 0;
    pointer-events: none;
}

.captcha_puzzle_container_modal > * {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.draggable_container_content_container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.captcha_puzzle_instruction {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.draggable_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border: 4px dashed;
    border-radius: 5px;
}

.draggable_container > *,
.starting_draggable_container > * {
    width: 90% !important;
    height: 90% !important;
}

.first_container {
    border-color: #4285f488;
}

.second_container {
    border-color: #34a85388;
}

.third_container {
    border-color: #fbbc0588;
}

.fourth_container {
    border-color: #ea433588;
}

.draggable_content_container {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.starting_draggable_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border: 4px dashed;
    border-radius: 5px;
}

.draggables {
    border-radius: 10px;
    background-color: #60934955;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    transition: 0.2s;
}

.draggables.dragging {
    transform: scale(0.9) rotateX(10deg) rotateZ(5deg);
}

/* ----- End Re Captcha ----- */
