.footer_container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ededed, #afafaf99);
  width: 100%;
}

.footer_container p {
  font-family: Calibri, Helvetica, sans-serif;
  font-weight: 500;
}
