a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #777a73;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 125px;
}

.icons-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.icons-container > i {
    margin-left: 22px;
    font-size: 22px;
    color: #243a0b;
}

.icons-container i.dark {
    font-size: 22px;
    color: #d0c5a6;
}

.pages-button-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.page-btn {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: #777a73;
}

.icons-container .far:hover,
.authentication_modal_navbar_button:hover {
    cursor: pointer;
}

.shopping_cart_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
    width: 22px;
    height: 100%;
    position: relative;
}

.shopping_cart_icon {
    position: absolute;
    font-size: 22px;
    color: #243a0b;
}

.shopping_cart_article_count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -5px 0 0 12px;
    width: 17px;
    height: 17px;
    font-size: 0.6rem;
    font-weight: 600;
    border-radius: 50%;
    background-color: #589440;
    color: #ffffff;
    z-index: 4;
}

.page-btn.selected {
    font-weight: 600;
    color: #589440;
}

.page-btn.dark {
    color: #d0c5a6;
}

.page-btn.selected.dark {
    color: #589440;
}

.dark_mode_toggle_container {
    transform: scale(0.7);
    margin-left: 30px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    box-sizing: border-box;
    background-color: #243a0b;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 4px;
    width: 54px;
    height: 26px;
    transform: scale(1.5);
}

.label.dark {
    background-color: #d0c5a6;
}

.label .ball {
    background-color: #ededed;
    border-radius: 50%;
    position: absolute;
    height: 22px;
    width: 22px;
    margin: -1px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.label .ball.dark {
    background-color: #123530;
}

.checkbox:checked + .label .ball {
    transform: translateX(26px);
}
